<%- include('../partials/head') %>
<script src="../js/functions.js"></script>
<body>
    <%- include('../partials/header') %>
    <div class="home">
        <div class="wrapper4">
            <h2>Categorias</h2>
            <hr>
            <div class="categorias">
                <ul>
                <% categorias.forEach((categoria) => {%> 
                    <li><i><%=categoria.categoria%></i></li>
                <%})%>
                   
                </ul>
            </div>
        </div>

        <div class="wrapper5">
            <h2>Perguntas</h2>
            <button id="btn-perguntar"><a href="/perguntas/new">Faça sua pergunta!</a></button>
            <hr>
            <div class="perguntas">
                <% perguntas.forEach(pergunta => {%>
                    <h3><%=pergunta.titulo%></h3>
                    <p><%=pergunta.resumo%></p>
                    <footer class="responder">
                        <button class="btn-responder"><a href="/<%=pergunta.slug%>">Ver Pergunta</a></button>
                    </footer>
                    <hr>
                <%})%>
            </div>

        </div>
       
        
    </div>
    <%- include('../partials/footer') %>
    
</body>
</html>