<%- include('../partials/head') %>
<script src="../js/functions.js"></script>
<body>
    <%- include('../partials/header') %>
    <div class="flex">
    <div class="home">
        <div class="wrapper4">
            <h2>Categorias</h2>
            <hr>
            <div class="categorias">
                <ul>
                <% categorias.forEach((categoria) => {%> 
                    <li><a href="/categorias/<%=categoria.slug%>"><i><%=categoria.categoria%></i></a></li>
                <%})%>
                   
                </ul>
                <button class="btn-categorias"><a href="/categorias/new">Nova Categoria</a></button>
            </div>
        </div>

        <div class="wrapper5">
            <h2>Perguntas</h2>
            <button id="btn-perguntar"><a href="/perguntas/new">Faça sua pergunta!</a></button>
            <hr>
            <div class="perguntas">
                <% perguntas.forEach(pergunta => {%>
                    <h3><%=pergunta.titulo%></h3>
                    <p><%=pergunta.resumo%></p>
                    <footer class="responder">
                        <button class="btn-responder"><a href="/<%=pergunta.slug%>">Ver Pergunta</a></button>
                    </footer>
                    <hr>
                <%})%>
            </div>

        </div>
        <div class="wrapper6">
            <i class="fa fa-user"></i>
            <hr>
            <h3>Informações do usuário</h3>
            <div class="user">
                <br>
            <% if(user === undefined){ %>
                <h4>Por favor, faça o login ou cadastre-se</h4>
                <br>
                <button class="btn-user"><a href="/">Login/Cadastro</a></button>
            <%}else{%>
                <br>
                <p><%=user.nome%></p>
                <br>
                <p><%=user.email%></p>
                <br>
                <button class="btn-user"><a href="/logout">Logout</a></button>
            <%}%>
               
            </div>

        </div>
        
    </div>
    <%- include('../partials/footer') %>
    
</div>
</body>
</html>