<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <div class="home">
        <div class="wrapper4">
            <h2>Categorias</h2>
            <hr>
            <div class="categorias">
                <ul>
                <% categorias.forEach((categoria) => {%> 
                    <li><i><%=categoria.categoria%></i></li>
                <%})%>
                   
                </ul>
            </div>
        </div>
        <div class="wrapper5">
            <div class="perguntas">
                <h2 style="text-align: center;"><%=perguntas.titulo%></h2>
                <hr>
                <p><%=perguntas.pergunta%></p>
                <form action="">
                    <textarea name="resposta"></textarea>
        
                    <button>Responder</button>
                </form> 
            </div>
                
        </div>
        <div class="wrapper6">
            <i class="fa fa-user"></i>
            <hr>
            <h3>Informações do usuário</h3>
            <div class="user">
                <br>
            <% if(user === undefined){ %>
                <h4>Por favor, faça o login ou cadastre-se</h4>
                <br>
                <button class="btn-user"><a href="/">Login/Cadastro</a></button>
            <%}else{%>
                <br>
                <p><%=user.nome%></p>
                <br>
                <p><%=user.email%></p>
                <br>
                <button class="btn-user"><a href="">Editar</a></button>
                <button class="btn-user"><a href="/logout">Logout</a></button>
            <%}%>
               
            </div>

        </div>
    </div>
    <%- include('../partials/footer') %>
    
  
</body>
</html>