<%- include('../partials/head') %>
<body>
    <header>
    
        <ul>
            <li><h1><a href="/home">Guia Perguntas</a></h1></li>
        </ul>
    </header>
    <div class="flex-perguntas">
    <div class="home home-pergunta">
        <div class="wrapper4 wrapper4-pergunta">
            <h2>Categorias</h2>
            <hr>
            <div class="categorias">
                <ul>
                <% categorias.forEach((categoria) => {%> 
                    <li><i><%=categoria.categoria%></i></li>
                <%})%>
                   
                </ul>
            </div>
        </div>
        <div class="wrapper5 wrapper7">
            <div class="perguntas">
                <h2><%=perguntas.titulo%></h2>
                <hr>
                <p><%=perguntas.pergunta%></p>
                <div class="form-responder">
                    <form action="/resposta/save" method="POST">
                  
                        <textarea name="resposta" placeholder="Digite aqui sua resposta"></textarea>
                        <br>
                        <input type="hidden" value="<%=perguntas.id%>" name="id">
                        
                        <button type="submit" class="btn-responder"><a>Responder</a></button>
                </form>
                <br> 
                <div class="respostas">
                    <h2>Respostas</h2>
                    <hr>
                    <% respostas.forEach((resposta)=>{%> 
                        <div class="resposta">
                            <p><%=resposta.resposta%></p>
                        </div>
                        
                        <br>
                        <hr>
                    <%})%>
                </div>
                </div>
            </div>
                
        </div>
        
    </div>
   
    <%- include('../partials/footer') %>
    
</div>
</body>
</html>